body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url("./img/bg.jpg");
    height: 800px;

}

#logo {
    width: 100px;
    height: 100px;
    margin: 40px;
}


#container {
    display: flex;
    justify-content: space-between;
}

#nav-list {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    margin: 40px 40px;
    background-color: aliceblue;
    height: 50px;
    border-radius: 7px;
    box-shadow: 0 0 15px #1D9C75;
}


#nav-list>li {
    margin: 16px 40px;


}

#nav-list>li>a {
    text-decoration: none;
}

#tagline {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;

}

#tagline h1 {
    width: 550px;
    color: white;
    font-size: 8vh;
    background-color: rgb(29, 156, 117, .5);
}

#testimonials {
    text-align: center;
}

#testimonials>div>h1 {
    font-size: 9vh;
}

#feedbacks {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.feedback {
    width: 200px;

}

.feedback>div>img {
    width: 150px;
}